<!DOCTYPE html>
<html>

<head>
    <title>Resultado Rutas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

</head>

<body>
    <main>
        <img src="{{ url_for('static', filename='imagenes/logo_grande.png') }}" alt="Logo Bonanza"
            style="width: 160px; height: 160px; border-radius: 12px;">

        <h1>Bonanza</h1>
        <h2>Optimización e inteligencia artificial.</h2>
        <h2>Ruteo de vehículos con restricciones horarias y de capacidad.</h2>

        <br>
        <h1>Rutas calculadas</h1>

        <div style="width: 85%; margin: auto; height: 85%;">
            {{ mapa|safe }}
        </div>




        <h2>Detalle de rutas:</h2>
        <ul>
            {% for camino in rutas %}
            <li><b>Vehículo {{ loop.index }}:</b>
                <ol>
                    {% for idx in camino %}
                    <li>{{ puntos[idx].nombre }}</li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ul>
    </main>

    <footer class="footer">
        <p>Desarrollado por <strong>Bonanza</strong></p>
        <p>Sitio web: <a href="http://www.bonanzasol.com.ar" target="_blank">www.bonanzasol.com.ar</a></p>
        <p>Correo: <a href="mailto:info@bonanzasol.com.ar">info@bonanzasol.com.ar</a></p>
    </footer>


</body>

</html>